<!-- {% comment %} source myvenv/Scripts/activate cd LifeisgoodSite python manage.py
runserver {% endcomment %} -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One day one year</title>
    <link
      rel="stylesheet"
      href="../static/odoyApp/odoymain.css"
      type="text/css"
    />
    <script
      src="https://kit.fontawesome.com/bc1f5db172.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
  </head>
  <body onload="changeBackground()" id="body">
    <form action="result-page/" name="test" method="POST">
      {% csrf_token %}

      <!-- Header  -->
      <header>
        <div class="logo">
          <a href=""
            ><img
              class="mainlogo"
              src="../static/odoyApp/images/odoymainlogo.png"
              alt="웹페이지 로고 이미지"
          /></a>
          <a href="">One day one year</a>
        </div>
        <i class="fas fa-share-alt"></i>
      </header>

      <div class="definition">
        <label id="title"> How did you live your life? </label>
        <label id="subtitle">
          It tells all of the world the value of past time.
          <br />See how you have been able to use your time in the past
          <br />and how you can live in the future.
        </label>
      </div>

      <!-- Nickname, gender, birthday, wantage -->
      <main id="informationbox">
        <section class="nickname-box">
          <div class="nickname">
            <input
              class="nickname-input"
              type="text"
              placeholder="닉네임을 입력하세요"
              name="nickname"
            />
          </div>

          <div class="visit">
            <div class="visitdiv">
              <label id="allvisitants">총 몇 명</label>
              <label id="visitants">방문자 수</label>
            </div>
            <div class="timediv">
              <label onload="printClock()" id="timelbl"></label>
              <label id="currenttime">현재 시간</label>
            </div>
          </div>
        </section>

        <div id="information">
          <div class="infobox">
            <section class="sex-box">
              <div class="sexicon">
                <i class="fas fa-venus-mars"></i>
              </div>
              <label><b>성별</b>은 무엇입니까?</label>
              <div>
                <input type="radio" name="gender" value="남성" /><label
                  >남성</label
                >
                <input type="radio" name="gender" value="여성" /><label
                  >여성</label
                >
              </div>
            </section>

            <section class="birthday-box">
              <div class="birthicon">
                <i class="fas fa-birthday-cake"></i>
              </div>
              <label><b>생년월일</b>은 무엇입니까?</label>
              <div class="birthday">
                <input
                  class="date-birthday"
                  type="date"
                  min="1950"
                  max="2100"
                  name="birth"
                />
              </div>
            </section>

            <section class="wantage-box">
              <div class="wantageicon">
                <i class="fas fa-dizzy"></i>
              </div>
              <label><b>몇 살</b>까지 살고싶으십니까?</label>
              <div>
                <input
                  class="text-wantage"
                  type="text"
                  placeholder="몇 살까지"
                  name="life"
                />
              </div>
            </section>
          </div>
          <input class="result" type="submit" value="결과보기" />
        </div>
      </main>

      <div class="test">
        웹 사이트 설명란 추가할
        <br />예정입니다.
      </div>
    </form>
    <script src="../static/odoyApp/odoymain.js"></script>
  </body>
</html>
