<!-- {% comment %} source myvenv/Scripts/activate cd LifeisgoodSite python manage.py
runserver {% endcomment %} -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,user-scalable=no"
    />
    <title>One day one year</title>
    <link
      rel="stylesheet"
      href="../static/odoyApp/odoymain.css"
      type="text/css"
    />
    <!-- Icon -->
    <script
      src="https://kit.fontawesome.com/bc1f5db172.js"
      crossorigin="anonymous"
    ></script>
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>

  <body onload="changeBg()" id="body">
    <!-- share 창(여기 백엔드는 자바 스크립트로 작업할게요~)-->
    <section id="share-box">
      <div class="sns-index">
        <input
          src="{% static 'odoyApp/images/facebook.png' %}"
          type="image"
          id="sns1"
        />
        <input
          src="{% static 'odoyApp/images/Twitter_Logo_WhiteOnBlue.png' %}"
          type="image"
          id="sns2"
        />
        <input
          src="{% static 'odoyApp/images/kakaostory.png' %}"
          style="background-color: white"
          type="image"
          id="sns3"
        />
        <input
          src="{% static 'odoyApp/images/telegram.png' %}"
          style="background-color: white"
          type="image"
          id="sns4"
        />
      </div>
      <input id="share" type="button" value="공유하기" />
    </section>
    <form action="result-page/" name="test" id="formId" method="POST">
      {% csrf_token %}

      <!-- Header  -->
      <header>
        <a href="{% url 'odoymain' %}" class="mainURL">
          <img
            class="mainlogo"
            src="../static/odoyApp/images/odoylogo.svg"
            alt="웹페이지 로고 이미지"
          />
          <label class="mainLogoText">One day one year</label>
        </a>

        <button
          id="share-button"
          type="button"
          class="fas fa-share-alt"
        ></button>
      </header>

      <!-- Website Definition -->
      <div class="definition">
        <label id="title"> How are you living your life? </label>
        <label id="subtitle">
          This website tells people around the world the value of time.
          <br />See how you have been able to use your time in the past
          <br />and how you can live in the future.
        </label>
      </div>

      <!-- Nickname, gender, birthday, wantage -->
      <main id="informationbox">
        <section class="nickname-box">
          <div class="nickname">
            <input
              id="nicknameid"
              class="nickname-input"
              type="text"
              placeholder="닉네임을 입력하세요."
              name="nickname"
              maxlength="8"
            />
          </div>

          <div class="remainAndcurrentAndlast">
            <div class="lastTimediv">
              <span id="lastTime">올해 지난 시간</span>
              <span id="lastTimelbl"></span>
            </div>
            <div class="currentTimediv">
              <span id="currentTime">현재 시간</span>
              <span onload="printClock()" id="currentTimelbl"></span>
            </div>
            <div class="remainTimediv">
              <span id="remainTime">올해 남은 시간</span>
              <span id="remainTimelbl"></span>
            </div>
          </div>
        </section>

        <div id="information">
          <div class="infobox">
            <section id="sexBox" class="sex-box">
              <div class="sexicon">
                <i class="fas fa-venus-mars"></i>
              </div>
              <label><b>성별</b>은 무엇입니까?</label>
              <div>
                <input id="male" type="radio" name="gender" value="남성" />
                <label for="male">남성</label
                >
                <input id="female" type="radio" name="gender" value="여성" />
                <label for="female">여성</label
                >
              </div>
            </section>

            <section id="birthdayBox" class="birthday-box">
              <div class="birthicon">
                <i class="fas fa-birthday-cake"></i>
              </div>
              <label><b>생년월일</b>은 무엇입니까?</label>
              <div class="birthday">
                <input
                  id="birthId"
                  class="date-birthday"
                  type="date"
                  min="1900-01-01"
                  max="2100-01-01"
                  name="birth"
                  onload="maxDate()"
                />
              </div>
            </section>

            <section id="wantageBox" class="wantage-box">
              <div class="wantageicon">
                <i class="fas fa-dizzy"></i>
              </div>
              <label><b>몇 살</b>까지 살고싶으십니까?</label>
              <div>
                <input
                  id="wantage"
                  class="text-wantage"
                  type="number"
                  min="0"
                  max="3000"
                  placeholder="수명을 입력하세요."
                  name="life"
                  maxlength="3"
                  oninput="numberMaxLength(this);"
                />
              </div>
            </section>

          <!-- <label onclick="result_btn()" id="blank"></label> -->
          </div>
          <input
            id="btnSub"
            class="result"
            type="button"
            value="결과보기"
            onclick="result_btn()"
            onmouseover="btnchangeBg(this)"
            onmouseout="btnnormalBg(this)"
          />
        </div>
      </main>


      <div class="addsection">
        <div class="famous_saying_title">
          <span>시간과 관련된 격언들</span>
        </div>
        <div class="famous_saying">
          1. Employ thy time well, if thou meanest to get leisure. (Benjamin
          Franklin)
          <br />여가시간을 가지려면 시간을 잘 써라. (벤자민 프랭클린)
          <br /><br />

          2. You may delay, but time will not. (Benjamin Franklin)
          <br> 당신은 지체할 수도 있지만 시간은 그러하지 않을 것이다. (벤자민 프랭클린)
          <br /><br />

          3.Early morning hath gold in its mouth. (Benjamin Franklin)
          <br> 이른 아침은 입에 황금을 물고 있다. (벤자민 프랭클린)
          <br /><br>

          4. Fish and visitors smell in three days. (Benjamin Franklin)
          <br>생선과 손님은 3일이 지나면 냄새를 풍긴다. (벤자민 프랭클린)
          <br /><br>

          5. Dost thou love life? Then do not squander time, for that is the
          stuff life is made of. (Benjamin Franklin) 
          <br />그대는 인생을 사랑하는가? 그렇다면 시간을 낭비하지 말라, 시간이야말로 인생을 형성하는 재료이기 때문이다. (벤자민 프랭클린)
          <br /><br />

          6. I never think of the future - it comes soon enough. (Albert
          Einstein) 
          <br>나는 미래에 대해 생각하는 법이 없다. 어차피 곧 닥치니까.(알버트 아인슈타인)
          <br /><br>

          7. When you are courting a nice girl an hour seems like a second. When
          you sit on a red-hot cinder a second seems like an hour. That's
          relativity. (Albert Einstein)
          <br> 아름다운 여자의 마음에 들려고 노력할
          때는 1시간이 마치 1초처럼 흘러 간다. 그러나 뜨거운 난로 위에 앉아 있을
          때는 1초가 마치 1시간처럼 느껴진다. 그것이 바로 상대성이다. (알버트
          아인슈타인)
          <br /><br>
        </div>
      </div>
    </form>
    <script src="../static/odoyApp/odoymain.js"></script>
  </body>

  <!-- 페이지 이동 처리 부분 -->
  <iframe name="iframe1" style="display: none"></iframe>
</html>
