{% extends 'stretchableMenu.html' %}



    
{% block content %}
    <div class="top">
        <div class="top-margin">
            <li class="ment1">당신의 나이는 00 이네요</li>
            <li class="ment2">현재와 00년까지를 하루와 일년으로 나타낸다면 다음과 같네요</li>
            <div class="progress-bar1" data-label="Your Season"></div>
            <div class="progress-bar2" data-label="Your Season"></div>
            <div class="sub-top">
                <div class="bookbox">
                    <img src="" alt="image" class="image">
                    <li class="listment">당신은 ...</li>
                </div>
                <div class="savingbox">
                    <img src="" alt="image" class="image">
                    <li class="listment" >당신은 ...</li>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

